In [5]:
import pandas as pd

In [6]:
birth_months = [1,2,3,4,5]
people = ["Ali", "John", "Babe", "Wong", "Dheen"]

In [16]:
data = list(zip(birth_months, people))

[(1, 'Ali'), (2, 'John'), (3, 'Babe'), (4, 'Wong'), (5, 'Dheen')]

In [18]:
pd.DataFrame(data, columns=["Birth month", "Name"])

   Birth month   Name
0            1    Ali
1            2   John
2            3   Babe
3            4   Wong
4            5  Dheen